$bg-color: ; // This is where your variable value goes
$text-color: ; 
$font: ; 

// You also need to nest h2 and p inside of body

body {
	background-color: ; // This is where you place the bg-color variable
}

h2,
p {
	color: ; // Text color variable
}

.title {
	font-family: ; // Font variable
}
