$var1: ; // This is where your variable value goes
$var2: ; // Here too

// You also need to nest h2 inside of body

body {
	background-color: ; // This is where you place the var1
}

.title {
	font-family: ; // This is where you place var2
}
