$bg-color: #FADADD;
$text-color: #444; 
$font: 'Arial', sans-serif; 

body {
	background-color: $bg-color;

	h2,
	p {
		color: $text-color;
	}
}

.title {
	font-family: $font;
}

.content {
	// Extend .title here
	font-size: 18px;
}

// Define your border radius mixin here

.div {
	display: inline-block;
	width: 30%;
	height: 100px;
	margin: 20px;
	background: lighten($text-color, 50);
	text-align: center;
}

// And use it in both of these
.div1 {
	// But first, extend .div
}

.div2 {
	// Extend .div here too
}
