$bg-color: #FADADD;
$text-color: #444444; 
$font: 'Arial', sans-serif; 

body {
	background-color: $bg-color;

	h2,
	p {
		color: $text-color;

		// Nest the anchor tag styles here
		// Style it such that when you hover, the text is $text-color + #111111
	}
}

.title {
	font-family: $font;
}

.content {
	@extend .title;
	font-size: 18px;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}


.div {
	display: inline-block;
	width: 30%;
	height: 100px;
	margin: 20px;
	background: lighten($text-color, 50);
	text-align: center;
}

.div1 {
	@extend .div;
	@include border-radius(10px);
}

.div2 {
	@extend .div;
	// Change this value to use an operator
	@include border-radius(5px);
}
