$bg-color: #FADADD;
$text-color: #444444; 
$font: 'Arial', sans-serif; 

body {
	background-color: $bg-color;

	h2,
	p {
		color: $text-color;

		// Set the anchor element to have .8 opacity using the rgba() function,
		// both as the regular element and when it's being hovered over.
		// As an extra challenge, nest the hover inside the anchor styles
		a:hover {
			color: $text-color + #111111;
			@if $text-color == #444444 {
				text-decoration: underline;
			}
		}
	}
}

.title {
	font-family: $font;
}

.content {
	@extend .title;
	font-size: 18px;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}


.div {
	display: inline-block;
	width: 30%;
	height: 100px;
	margin: 20px;
	background: lighten($text-color, 50);
	text-align: center;
}

.div1 {
	@extend .div;
	@include border-radius(10px);
}

.div2 {
	@extend .div;
	@include border-radius(10px - 5px);
}
