@import 'partial';

$bodybg: #ffffff;
$text: #444;


body {
	background: $bodybg;
}

h1,
h2,
h3 {
	color: $text;

	a {
		color: rgba($text, .8);

		&:hover{
			color: rgba($text + #111111, .8);
			@if $text == #444 {
				text-decoration: underline;
			}
		}
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

.thing1 {
	@include border-radius(10px);
}

.thing2 {
	@include border-radius(5px);
}


